.Projects_Container {
  font-size: 16px;
  background-color: #fafafa;
  padding-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.projects_text_container {
  padding-left: 10%;
}

.projects_header {
  font-size: 2.5em;
  font-weight: bold;

  font-family: "Playfair Display", serif;
}
.projects_text_1 {
  font-size: 1.5em;
  padding-top: 20px;

  font-family: "Playfair Display", serif;
}

.Projects {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 100px;
  color: #28293f;
  font-size: 16px;
}
a {
  color: blue;
}

.projects_1 {
  background-color: white;
  height: 180px;
  width: 80%;
  margin-bottom: 20px;
  align-self: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.project_1_caption {
  text-align: center;
  padding-top: 2%;
}
.projects_2 {
  background-color: white;
  height: 180px;
  width: 80%;
  margin-bottom: 20px;
  align-self: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.project_2_caption {
  text-align: center;
  padding-top: 2%;
}
.projects_3 {
  background-color: white;
  height: 180px;
  width: 80%;
  margin-bottom: 20px;
  align-self: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.project_3_caption {
  text-align: center;
  padding-top: 2%;
}

.projects_4 {
  background-color: white;
  height: 300px;
  width: 30%;
  margin-bottom: 20px;
  align-self: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.project_4_caption {
  text-align: center;
  padding-top: 2%;
}

@media (min-width: 700px) {
  .projects_1 {
    height: 300px;
    margin-bottom: 50px;
  }
  .projects_2 {
    height: 300px;
    margin-bottom: 50px;
  }
  .projects_3 {
    height: 300px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1000px) {
  .projects_1 {
    height: 400px;
    margin-bottom: 50px;
  }
  .projects_2 {
    height: 400px;
    margin-bottom: 50px;
  }
  .projects_3 {
    height: 400px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1440px) {
  .Projects_Container {
    font-size: 16px;
    background-color: #fafafa;
    padding-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .projects_text_container {
    padding-left: 10%;
  }

  .projects_header {
    font-size: 3em;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  .projects_text_1 {
    font-size: 2em;
    padding-top: 20px;
    font-family: "Playfair Display", serif;
  }

  .Projects {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .projects_1 {
    background-color: white;
    height: 300px;
    width: 30%;

    align-self: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }

  .project_1_caption {
    text-align: center;
    padding-top: 3%;
  }
  .projects_2 {
    background-color: white;
    height: 300px;
    width: 30%;

    align-self: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  .project_2_caption {
    text-align: center;
    padding-top: 3%;
  }
  .projects_3 {
    background-color: white;
    height: 300px;
    width: 30%;

    align-self: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  }
  .project_3_caption {
    text-align: center;
    padding-top: 3%;
  }
}
